<app-navbar></app-navbar>
<main class="dashboard">
  <div class="dashboard__container">
    <div class="sidebar">
      <h3 class="sidebar__header">Create Travel Request</h3>
      <p class="sidebar__text">Pick what works best for you and let TRAV doing the searching.</p>
      <app-add-travel></app-add-travel>
    </div>
     <header class="header">
      <h1 class="header__main">Dashboard</h1>
      <p class="header__text">Manage your travel requests, matches and connections.</p>
    </header>
     <section class="data">
      Data
    </section>
     <header class="travel-header">
      <h2 class="travel-header__main">Travel Requests</h2>
    </header>
     <section class="travel-results">
      Travel Results
       <!-- <app-results></app-results> -->
    </section>
    <header class="connections-header">
        <h2 class="connections-header__main">Connections</h2>
    </header>
     <section class="connections__results">
      Connection Results
    </section>
   </div>
</main>