@import '../scss/vars';

%heading-secondary{
  font-size: 2.5rem;
  color: $color-primary;
  font-style: italic;
  letter-spacing: -0.83px;
}

%font-family {
  font-family: $default-font-family;
}

.dashboard {
 background-color: $color-background;
 
  &__container {
    display: grid;
    grid-template-rows: 15rem 17rem 10rem minmax(7rem, min-content) 10rem minmax(7rem, min-content);
    grid-template-columns: [sidebar-start] minmax(
        17rem,
        30rem
      ) [sidebar-end full-start] minmax(1.5rem, 0.5fr) [center-start] repeat(
        8,
        [col-start] minmax(min-content, 13rem) [col-end]
      )
      [center-end] minmax(1.5rem, 0.5fr) [full-end];
  }
  
  &__sidebar {
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: 15rem 1fr;
    grid-template-columns: [col-start] .5fr repeat(2, 1fr) .5fr [col-end];
    justify-items: center;
    
    &__header{
      color: $color-secondary;
      font-size: 2.2rem;
      font-weight: bold;
      letter-spacing: -0.8px;
      line-height: 29px;
      text-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
      align-self: end;
    }
    
    &__text{
      color: $color-grey;
      font-size: 1.4rem;
      grid-column: col-start 2 / col-end 3;
    }
  }
  
  .header{
    grid-column: full-start / full-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: center;
    
    &__main{
      color: $color-primary;
      font-family: $default-font-family;
      font-size: 5rem;
      font-weight: bold;
      letter-spacing: -1.67px;
    }
    
    &__text{
      color: $color-grey;
      font-size: $default-font-size;
      font-family: $default-font-family;
    }
  }
  
  .data{
    grid-column: full-start / center-end;
    background-color: $color-white;
    border-radius: 1rem;
    box-shadow: 0 .2rem .5rem rgba($color-black, .2);
  }
  
  .travel{
    &-header{
      grid-column: full-start / full-end;
      display: grid;
      align-items: center;
      
      &__main{
        @extend %heading-secondary;
      }
    }
    
    &-results {
      background-color: $color-red;
      grid-column: center-start / center-end;
    }
  }
  
  .connections {
    &-header {
      grid-column: full-start / full-end;
      display: grid;
      align-items: center;
      
      &__main {
        @extend %heading-secondary;
      }
    }
    
    &-results {
      display: grid;
      grid-column: center-start / center-end;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      grid-template-rows: 15rem;
      grid-column-gap: 4.5rem;
      grid-row-gap: 6rem;
    }
  }
}