<app-navbar></app-navbar>

<div class="addhome-container">
  <div>
    <h3 class="heading">My Homes</h3>
  </div>
  <form class="form-box">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Country</label>
        <select class="form-control" name="country" [(ngModel)]="address.country" required>
          <option>United States</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label>Property Type:</label>
        <select class="form-control" [(ngModel)]="newHome.home" name="home" required>
          <option>House</option>
          <option>Apt</option>
        </select>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Address</label>
        <input class="form-control" type="text" name="street" [(ngModel)]="address.street" required />
      </div>
      <div class="form-group col-md-2">
        <label>Bedrooms</label>
        <select class="form-control" name="bedrooms" [(ngModel)]="newHome.bedrooms" required>
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Beds</label>
        <select class="form-control" name="beds" [(ngModel)]="newHome.beds" required>
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Baths</label>
        <select class="form-control" name="baths" [(ngModel)]="newHome.baths" required>>
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>City</label>
        <select class="form-control" name="city" [(ngModel)]="address.city" required>
          <option>Miami</option>
        </select>
      </div>
      <div class="form-group col-6">
        <label>Setting:</label>
        <select class="form-control" [(ngModel)]="newHome.setting" name="setting" required>
          <option>Urban</option>
          <option>Suburban</option>
          <option>Rural</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-4">
        <label>State</label>
        <select class="form-control" name="state" [(ngModel)]="address.state" required>
          <option>FL</option>
          <option>AL</option>
          <option>AK</option>
          <option>AZ</option>
          <option>AR</option>        
          <option>CA</option>
          <option>CO</option>
          <option>CT</option>
          <option>DE</option>
          <option>DC</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label>Zip Code</label>
        <input class="form-control" type="text" name="zipCode" [(ngModel)]="address.zipCode" required />
      </div>
      <div class="form-group col-6">
        <label>Landscape:</label>
        <select class="form-control" [(ngModel)]="newHome.landscape" name="landscape">
          <option>Tropical</option>
          <option>Mountainous</option>
          <option>City</option>
          <option>Coastal</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <label>Description</label>
        <input class="form-control" type="text" name="description" [(ngModel)]="newHome.description" required />
      </div>
    </div>
    <div class="form-row">
      <div class="col-3">
        <input type="file" name="file" ng2FileSelect [uploader]="uploader" multiple />
      </div>
      <div class="col-3">
        <p>Queue length: {{ uploader?.queue?.length }}</p>
      </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="submit()">Save</button>
  </form>
</div>