<header>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="../../assets/images/logo.png" class="nav-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link nav-dashboard" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-dashboard" routerLink="/add-home">My Homes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img class="icon-user align-self-center dropdown-spacing" src="../../assets/images/icon-user.png">
            <span class="drop-down-text align-self-center dropdown-spacing">{{user.firstName}} {{user.lastName}}</span>
            <img class="icon-arrow align-self-center dropdown-spacing" src="../../assets/images/icon-arrow-down.png">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button class="dropdown-item" (click)="logout()">Logout</button>
          </div>
        </li>
       </ul>
    </div>
  </nav>
</header>