<!-- Signup Section -->
<form class="form">
  <div class="form__group">
    <input type="text" class="form__input" placeholder="First name" id="firstname" [(ngModel)]="formInfo.firstName"
      name="firstName" required>
    <label for="firstname" class="form__label">First name</label>
  </div>
   <div class="form__group">
    <input type="text" class="form__input" placeholder="Last name" id="lastname" [(ngModel)]="formInfo.lastName" name="lastName"
      required>
    <label for="lastname" class="form__label">Last name</label>
  </div>
   <div class="form__group">
    <input type="email" class="form__input" placeholder="Email address" id="email" [(ngModel)]="formInfo.email" name="email"
      required>
    <label for="email" class="form__label">Email address</label>
  </div>
  <div class="form__group">
    <input type="text" class="form__input" placeholder="Username" id="username" [(ngModel)]="formInfo.username" name="username"
      required>
    <label for="username" class="form__label">Username</label>
  </div>
   <div class="form__group">
    <input type="password" class="form__input" placeholder="Password" id="password" [(ngModel)]="formInfo.password"
      name="password" required>
    <label for="password" class="form__label">Password</label>
  </div>
   <div class="form__group">
    <input id="remember" type="checkbox" class="form__checkbox">
    <label for="remember" class="form__checkbox-label"> Remember me</label>
  </div>
   <div class="form__group">
    <button type="button" (click)="signup()" class="form__btn">Sign up</button>
  </div>
</form>
<!-- End Signup Section -->