<!-- Signup Section -->
<section id="signup-section">
<form class="signup-form pure-form pure-form-stacked center_items container">
  <fieldset>
    <h2>Sign Up</h2>
    <div class="pure-g center_items container">
       <div class="pure-u pure-u-lg-1 pure-u-xl-1 container">
          <input class="" id="firstname" type="text" [(ngModel)]="formInfo.firstName" name="firstName" placeholder="First Name">
      </div>
    </div>

    <div class="pure-g center_items container">
       <div class="pure-u pure-u-lg-1 pure-u-xl-1">
          <input id="lastname" type="text" [(ngModel)]="formInfo.lastName" name="lastName" placeholder="Last Name">
      </div>
    </div>

    <div class="pure-g center_items container">
       <div class="pure-u pure-u-lg-1 pure-u-xl-1">
          <input id="email" type="email" [(ngModel)]="formInfo.email" name="email" placeholder="Email">
      </div>
    </div>
    
    <div class="pure-g center_items container">
       <div class="pure-u-lg-1 pure-u-xl-1 pure-u">
          <input id="username" type="text" [(ngModel)]="formInfo.username" name="username" placeholder="Username">
      </div>
    </div>

    <div class="pure-g center_items container">
      <div class="pure-u pure-u-lg-1 pure-u-xl-1">
        <input id="password" type="password" placeholder="Password">
      </div>
    </div>

    <label for="remember" class="pure-checkbox">
      <input id="remember" type="checkbox"> Remember me
    </label>
     <button type="button" (click)="signup()" class="pure-button pure-button-primary"> Sign up</button>
    <p>Already have an account? <a routerLink="/login">Log in</a>.</p>
  </fieldset>
</form>
</section>
<!-- End Signup Section -->