<form id="sign_up">
  <h2> Signup </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>
  <br>
  <label> First Name </label>
  <input type="text" [(ngModel)]="formInfo.firstName" name="firstName"/>
  <br>
  <label> Last Name </label>
  <input type="text" [(ngModel)]="formInfo.lastName" name="lastName"/>
  <br>
  <label> Email </label>
  <input type="email" [(ngModel)]="formInfo.email" name="email"/>
  <br>
  <button type="button" (click)="signup()"> Signup! </button>
</form>

<p>Already have an account? <a routerLink="/login">Log in</a>.</p>