
// brand colors
$color-primary: #207CAD;
$color-secondary: #02ABC3;
$color-tertiary: #DFE553;
 // general colors
$color-white: #fff;
$color-black: #000;
$color-grey: #999;
$color-grey-dark: #888;
$color-grey-dark-2: #666;
$color-red: orangered;
 // FONT
$default-font-size: 1.6rem;
$default-font-family: 'Lato';
// background colors
$color-background: #FBFBF9;