.main-intro {
  height: 100vh;
  width: 100vw;
  background-image: url(/src/assets/images/adventureballshaped.jpg);
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  
  &__nav{
    height: 33vh;
    
    &--padding{
      padding-top: .75em;
      padding-left: 1em;
      padding-right: 1em;
    }
    
    &--logo{
      color: #fff;
      font-family: CircularStd;
      font-weight: bold;
    }
    
    &--link{
      color: #fff;
      font-family: CircularStd;
      font-weight: bold;
    }
  }
  
  &__text{
    height: 34vh;
    
    &--slogan{
      color: #fff;
      font-family: CircularStd;
    }
    
    &--bold{
      color: #000;
      font-family: CircularStd;
      font-weight: bold;
    }
  }
  
  &__footer{
    height: 33vh;
  }
}

.main-middle{
  height: 100vh;
  padding-top: 2em;
  padding-bottom: 2em;
}