.login-container{
  height: 100vh;
  background-color: HSL(200, 55%, 97%);
}

.login{

  &__nav{
    padding-top: 1.3em;
    padding-left: 1.5em;
    align-items: center;
    
    &--logo{
      color: #000;
      padding-left: 1.5em;
    }
  }
  
  &__form{
    border-radius: 1em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    
    &--info{
      padding-top: 1.3em;
      background-color: #fff;
    }
    
    &--padding{
      padding-top: 1.3em;
    }
  } 

  &__signup{
    background-color: HSL(0, 0%, 85%);
    color: #fff;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.container{
  display: flex;
  justify-content: center;
  align-content: center;
}

.input_fields_width {
  width: 65%;
}

button {
  background-color: #006392;
  color: #fff;
  flex-grow: 1;
}